 // ----------------------------------------------------------------------------
 // Sass declarations
 // ----------------------------------------------------------------------------
 $background-color:  #47bbb3;
 $note-color:       #fff;
 
 $title-color:       rgba(255, 255, 255, 0.7);
 
 // ----------------------------------------------------------------------------
 // Widget-notes styles
 // ----------------------------------------------------------------------------
 .widget-notes {
 
   background-color: $background-color;
 
   .title {
     color: $title-color;
   }
 
   .notes {
     color: $note-color;
   }
 
   .updated-at {
     color: rgba(0, 0, 0, 0.3);
   }
   
   hr {
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
   }
  
 }
