<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [260, 240]
  Dashing.numColumns = 5
});
</script>

<style type="text/css">
body {
    overflow:hidden;
}
</style>


<% content_for :title do %>LilTECH Dash<% end %>

<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png" style="background-color:#f26522;padding-left:30px;padding-right:30px"></div>
    </li>
  
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock" style="background-color:#47bbb3;"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
    <i class="fa fa-calendar icon-background" aria-hidden="true"></i>
  <div data-id="google_calendar_mycal" data-view="GoogleCalendar" style="background-color:#4183C5;"></div>
</li>
<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
  <div>
  	<script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script>
  	<script type="text/javascript">(function() {var params = {rssmikle_url: "http://futurism.com/feed",rssmikle_frame_width: "260",rssmikle_frame_height: "490",frame_height_by_article: "0",rssmikle_target: "_blank",rssmikle_font: "Arial, Helvetica, sans-serif",rssmikle_font_size: "12",rssmikle_border: "off",responsive: "off",rssmikle_css_url: "",text_align: "left",text_align2: "left",corner: "off",scrollbar: "off",autoscroll: "on",scrolldirection: "up",scrollstep: "5",mcspeed: "20",sort: "Off",rssmikle_title: "on",rssmikle_title_sentence: "",rssmikle_title_link: "",rssmikle_title_bgcolor: "#8451B8",rssmikle_title_color: "#FFFFFF",rssmikle_title_bgimage: "",rssmikle_item_bgcolor: "#8451B8",rssmikle_item_bgimage: "",rssmikle_item_title_length: "55",rssmikle_item_title_color: "#FFFFFF",rssmikle_item_border_bottom: "on",rssmikle_item_description: "on",item_link: "off",rssmikle_item_description_length: "150",rssmikle_item_description_color: "#FFFFFF",rssmikle_item_date: "gl1",rssmikle_timezone: "Etc/GMT",datetime_format: "%b %e, %Y %l:%M %p",item_description_style: "text+tn",item_thumbnail: "full",item_thumbnail_selection: "auto",article_num: "15",rssmikle_item_podcast: "off",keyword_inc: "",keyword_exc: ""};feedwind_show_widget_iframe(params);})();</script>
  	<div style="font-size:10px; text-align:center; width:260px;">
  	<a href="http://feed.mikle.com/" target="_blank" style="color:#222222;">RSS Feed Widget</a></div>
  	</div>
</li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1"> 
  <div data-id="visitor_count" data-view="Number" data-title="liltech.gr Visitors" style="background-color:#008000;"></div> 
</li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"> 
  <div data-id="usd_cur" data-view="Number" data-title="EUR to USD" style="background-color:#f26522;"></div> 
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1"> 
  <div data-id="visitor_count" data-view="Number" data-title="liltech.gr Visitors" style="background-color:#008000;"></div> 
</li>

<li data-row="2" data-col="5" data-sizex="1" data-sizey="2"> 
  <div data-id="visitor_count" data-view="Number" data-title="liltech.gr Visitors" style="background-color:#008000;"></div> 
</li>

 <li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
                 <!-- hackaday --><script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script><script type="text/javascript">(function() {var params = {rssmikle_url: "https://hackaday.com/tag/rss/",rssmikle_frame_width: "530",rssmikle_frame_height: "240",frame_height_by_article: "0",rssmikle_target: "_blank",rssmikle_font: "Arial, Helvetica, sans-serif",rssmikle_font_size: "12",rssmikle_border: "off",responsive: "off",rssmikle_css_url: "",text_align: "left",text_align2: "left",corner: "off",scrollbar: "on",autoscroll: "on",scrolldirection: "up",scrollstep: "5",mcspeed: "20",sort: "Off",rssmikle_title: "on",rssmikle_title_sentence: "",rssmikle_title_link: "",rssmikle_title_bgcolor: "#4183C5",rssmikle_title_color: "#FFFFFF",rssmikle_title_bgimage: "",rssmikle_item_bgcolor: "#4183C5",rssmikle_item_bgimage: "",rssmikle_item_title_length: "55",rssmikle_item_title_color: "#FFFFFF",rssmikle_item_border_bottom: "on",rssmikle_item_description: "on",item_link: "off",rssmikle_item_description_length: "150",rssmikle_item_description_color: "#FFFFFF",rssmikle_item_date: "gl1",rssmikle_timezone: "Etc/GMT",datetime_format: "%b %e, %Y %l:%M %p",item_description_style: "text",item_thumbnail: "full",item_thumbnail_selection: "media_content",article_num: "15",rssmikle_item_podcast: "off",keyword_inc: "",keyword_exc: ""};feedwind_show_widget_iframe(params);})();</script><div style="font-size:10px; text-align:center; width:530px;"><a href="http://feed.mikle.com/" target="_blank" style="color:#222222;">RSS Feed Widget</a><!--Please display the above link in your web page according to Terms of Service.--></div><!--  end  feedwind code -->
    </li>   

<li data-row="3" data-col="4" data-sizex="1" data-sizey="1"> 
  <div data-id="visitor_count" data-view="Number" data-title="liltech.gr Visitors" style="background-color:#008000;"></div> 
</li>



    
    
    

  </ul>
</div>
